<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	   <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BlackNeuron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>

  <body class="<%= controller.controller_name %>">
    <% if controller.action_name == 'hogar' %>
      <%= yield :home %>
    <% else %>
      <div class="topnav">
        <div id="banner">
          <%= image_tag("logoBNR.png", size: "150x50", alt: 'Black Neuron Research')  %>
        </div>
        <%= link_to 'Home', static_pages_home_path %>
        <%= link_to 'News', static_pages_news_path %>
        <%= link_to 'Contact', static_pages_contact_path %>
        <%= link_to 'About', static_pages_about_path %>
      </div>
        <div id="columns">
          <div id="side">
          </div>
          <div id="main">
            <%= yield %>
          </div>
        </div>
    <% end %>
    <footer>
        <small>BlackNeuron Research 2018</small>
    </footer>
    <div class="debug">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
