<!DOCTYPE html>
<html>
  <head>
    <title>BlackNeuron</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
  </head>

  <body class="<%= controller.controller_name %>">
      <a href='https://www.freepik.com/free-photo/business-adviser-analyzing-financial-figures-denoting-the-progress-in-the-work-of-the-company_1202220.htm'>Designed by Freepik</a>
    <div id="banner">
      <%= image_tag("logoBNR.png", size: "240x76", alt: 'Blac Neuron Research')  %>
    </div>
    <div id="columns">
      <div id="side">

      </div>
      <div id="main">
          <%= yield %>
      </div>
    </div>
    <footer>
        <a href="https://www.freepik.com/free-photos-vectors/business">Business image created by Snowing - Freepik.com</a>
    </footer>
    <div class="debug">
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
